.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar {
  width: 20%;
  min-height: 100vh;
  background-color: #1e1c3c;
  color: aliceblue;
}

.tableDiv {
  width: 80%;
  min-height: 100vh;
  padding: 1rem 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
